In [13]:
%load_ext lab_black
%load_ext nb_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black
The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [25]:
""" 
Trying black package & pandas 1.0 & large csv handling

"""

' \nTrying black package & pandas 1.0\n\n'

In [26]:
import numpy as np
import pandas as pd
import time

In [21]:
size = 10000
cities = ["paris", "barcelona", "berlin", "new york"]
df = pd.DataFrame(
    {"city": np.random.choice(cities, size=size), "booked_perc": np.random.rand(size)}
)
df["id"] = df.index.map(str) + "-" + df.city
df = df[["id", "city", "booked_perc"]]
df.head()

            id       city  booked_perc
0   0-new york   new york     0.137220
1  1-barcelona  barcelona     0.980180
2     2-berlin     berlin     0.918581
3  3-barcelona  barcelona     0.360870
4     4-berlin     berlin     0.958257

In [23]:
ts0 = time.time()

sum(booked_perc for booked_perc in df.booked_perc)

ts1 = time.time()
print(ts1 - ts0)

ts0 = time.time()

df.booked_perc.sum()

ts1 = time.time()
print(ts1 - ts0)

ts0 = time.time()

df["perc_change"] = df.booked_perc.pct_change()

ts1 = time.time()
print(ts1 - ts0)

df.head()

0.0019974708557128906
0.0009961128234863281
0.0029959678649902344

            id       city  booked_perc  perc_change
0   0-new york   new york     0.137220          NaN
1  1-barcelona  barcelona     0.980180     6.143129
2     2-berlin     berlin     0.918581    -0.062844
3  3-barcelona  barcelona     0.360870    -0.607144
4     4-berlin     berlin     0.958257     1.655404

In [27]:
## NO!
ts0 = time.time()
for i, row in df.iterrows():
    if row.city == "new york":
        df.loc[i, "sales_factor"] = row.booked_perc * 2
    else:
        df.loc[i, "sales_factor"] = 0
ts1 = time.time()
print(ts1 - ts0)

## YES
ts0 = time.time()


def calculate_sales_factor(row):
    if row.city == "new york":
        return row.booked_perc * 2
    return 0


df["sales_factor"] = df.apply(calculate_sales_factor, axis=1)
ts1 = time.time()
print(ts1 - ts0)

## YES!
ts0 = time.time()
df.loc[df.city == "new york", "sales_factor"] = (
    df[df.city == "new york"].booked_perc * 2
)
df.sales_factor.fillna(0, inplace=True)
ts1 = time.time()
print(ts1 - ts0)

df.head()

4.811127662658691
0.1845080852508545
0.003988981246948242

            id       city  booked_perc  perc_change  sales_factor
0   0-new york   new york     0.137220          NaN       0.27444
1  1-barcelona  barcelona     0.980180     6.143129       0.00000
2     2-berlin     berlin     0.918581    -0.062844       0.00000
3  3-barcelona  barcelona     0.360870    -0.607144       0.00000
4     4-berlin     berlin     0.958257     1.655404       0.00000

When we are dealing with function with 3 or more variables, we can break it down to multiple pandas expressions. It will be faster than using the apply function.

#### NO
f(x, a, b) = (a + b) * x

#### YES
df['a_plus_b'] = df['a'] + df['b']

df['f'] = df['a_plus_b'] * df['x']

In [28]:
ts0 = time.time()

df.groupby("city").sales_factor.mean()
df.groupby("city").sales_factor.count()
df.groupby("city").id.first()

ts1 = time.time()
print(ts1 - ts0)

ts0 = time.time()

df.groupby("city").agg({"sales_factor": ["mean", "count"], "id": "first"})

ts1 = time.time()
print(ts1 - ts0)

0.007977485656738281
0.01097416877746582